[2019-12-17 12:13] Robinlovelace opened #2 "Set-up auto deploy of website"

[2019-12-17 12:19] Robinlovelace opened #3 "Add minimal example data to package"
With use_data() function. See https://r-pkgs.org/data.html for details, thinking a road network with ~100 features for example.

[2019-12-17 12:36] Robinlovelace commented on #2
Heads-up @joeytalbot I'm working on this...

[2019-12-17 15:06] joeytalbot opened #4 "How do we add new road links?"
We will likely need to add many new road links into the OSM data. These will be both to represent existing roads in newly built housing developments that haven't yet made it into the latest OSM data updates, and to represent hypothetical new links that we are proposing as options to improve walk/cycle accessibility.

What is the best way to add these new roads to the network?

[2019-12-17 15:09] joeytalbot opened #5 "Develop method to identify key destinations"
We want to look at accessibility of new homes to various destinations, such as town centres, schools and public transport nodes. But how do we choose these destinations? Could 2011 census data play a role? For example, we could use commute destination data to identify nearby centres of employment.

[2019-12-17 15:15] joeytalbot opened #6 "How do we assess severance?"
One of our aims is to assess the severance of walk/cycle routes. How do we do this?

For major roads, could we use a function that combines the busyness/busynance of road segments with a measure of the quality of walk/cycle provision on these segments?

Do we also want to consider severance by non-road features such as rivers or railway lines?

[2019-12-17 15:24] Robinlovelace commented on #6
Very good question and one that @mem48 and I have thought about in some detail (and we have WiP project on the topic). See here for slides on a method for assessing major rail scheme (e.g. HS2) impacts. This could be adapted for major (40/60/70 mph, B/A/M) roads: https://www.robinlovelace.net/presentations/cs-infra.html#36

I think that would be good, starting with the 'severing features' in OSM a

[2019-12-17 15:26] Robinlovelace commented on #4
There are a number of projects for editing objects in an online map, ranging from the `mapedit` R package to web-based OSM-focussed editors such as iD: https://wiki.openstreetmap.org/wiki/Editors

Thoughts on this @mvl22 ?

[2020-01-02 18:30] mvl22 commented on #6
Can you clarify exactly what we mean by 'severance' here?

That link doesn't work for me, Robin, possibly because the page source has an enormous pile of latlons which I think the browser is shocking on. Is there a PDF equivalent?

[2020-01-04 15:12] mem48 commented on #6
@mvl22 the paper is about how linear infrastructure (roads, railways etc.) can prevent travel across them because there are no bridges etc.

For a while, I've been wanting to do a fairly simple analysis of removing the roads that are hostile to cycling and then finding the "islands" that you cannot leave because there is no safe cycle route.

[2020-01-06 12:00] Robinlovelace opened #7 "Get planning data for Leeds"

[2020-01-06 12:09] Robinlovelace commented on #5
This is the same as this task:

[2020-01-06 12:14] Robinlovelace opened #8 "Manually identify key destinations for example dataset"
Linking to #5 this is an earlier step that will demo the method for a single example development, before generalising the method to work on any development site, Allerton Bywater. See https://github.com/cyipt/acton/projects/1 heads-up @mvl22 suggest we put thoughts from meeting today in this and other GH issues.

[2020-01-06 12:36] mvl22 opened #9 "Routing improvements"
The project will use improved routing from the CycleStreets API.

This will implement the Cycling States work which @si-the-pie started work on last year and which needs completion.

[2020-01-06 12:37] Robinlovelace commented on #9
How will this be used in the project to support https://github.com/cyipt/acton/projects/1?

Guessing that it will include:

- better estimate of busyness
- better estimate of quietness diversion factors

[2020-01-06 12:42] Robinlovelace commented on #9
Could you provide an ETA when these will be online? For now I think using the current 'quietest' route will be a stopgap.

[2020-01-06 12:54] Robinlovelace commented on #8
- [ ] travel to work: suggest we use workplace zones (WPZ): https://data.gov.uk/dataset/022e455a-b5cc-4247-bfc5-1aaf9da78379/workplace-zones-a-new-geography-for-workplace-statistics - probably merits its own issue
- [ ] nearest supermarkets
- [ ] nearest schools
- [ ] leisure

Looking at these I think it's worth doing some analysis of the NTS, possibly as a new issue.
 shops, schools, health centr

[2020-01-06 12:58] Robinlovelace opened #10 "Get data on workplace zones"

[2020-01-06 12:58] Robinlovelace opened #11 "PlanIt data format"

[2020-01-06 13:02] mvl22 commented on #9
The current quietest route output is fine to use straight away as part of methodology and prototyping development, and the API format won't change.

What will change over the coming month is the underlying algorithm.

[2020-01-06 15:18] mem48 commented on #5
This might be a good starting point https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/66795/accessibility-statistics-guidance.pdf

[2020-01-06 15:54] Robinlovelace commented on #5
Very good point Malcolm, thanks for flagging that.

[2020-01-06 17:03] mem48 commented on #5
Also look at https://data.cdrc.ac.uk/dataset/cdrc-2017-retail-centre-centroids for shopping areas

[2020-01-06 18:06] mem48 commented on #4
The Java based JOSM editor is good for editing large .osm files

[2020-01-07 07:36] Robinlovelace commented on #4
Also for a web-based GUI there is https://github.com/openstreetmap/iD

[2020-01-07 13:51] mem48 commented on #5
I think there is also a public database of places that have a food hygene rating, this would cover restaurants cafes etc

[2020-01-07 13:59] mem48 commented on #4
Yes, for roads that are missing from OSM use the web-based editor, definelty the easyest. But for proposed links, not suitable as it would update the OSM for everybody. You will need to talk to @mvl22 about how routing on a private OSM map would work. Or opentripplanner would also be a option for routing on a customised map.

[2020-01-07 14:53] Robinlovelace commented on #4
@mem48 you *can* use iD to work with a local database, as documented here https://github.com/openstreetmap/iD/issues/899 and here http://rdc.moabi.org/customizing-the-iD-editor/en/

[2020-01-07 14:59] Robinlovelace commented on #10
Heads-up @joeytalbot I'm up for taking a look at this. You free later today (e.g. at ~16:00) to double-team it?

[2020-01-07 17:11] Robinlovelace commented on #10
Next step: number of jobs I reckon.

[2020-01-07 17:12] Robinlovelace commented on #3
I suggest using the `mapedit` package to create the geometry of the Allerton Bywater site.

[2020-01-07 17:25] Robinlovelace opened #12 "Get accessibility statistics for (LSOA?) geographic zones and upload as release"

[2020-01-07 17:29] Robinlovelace commented on #12
Challenge: get the accessibility data for the site according to data linked to here https://www.gov.uk/government/collections/journey-time-statistics

[2020-01-07 17:35] mvl22 commented on #4
If you aren't planning to add these automatically, I would do as Malcolm suggests, namely:

1) Download a data extract in .osm.gz format from [Geofabrik downloads](http://download.geofabrik.de/europe/great-britain/england.html) and `gunzip` to .osm.

2) Load the .osm file into JOSM. Ensure you are [offline in JOSM](https://wiki.openstreetmap.org/wiki/Using_OpenStreetMap_offline#JOSM). Make the cha

[2020-01-07 17:38] mvl22 commented on #5
Without wishing to state the obvious, OSM is a database of places. I would have thought some kind of cluster analysis of anything in OSM with [key:shop](https://wiki.openstreetmap.org/wiki/Key:shop) would find shopping centres / high streets pretty easily.

Nice that CDRC has a dataset too. I suppose the OSM method would be more reproducible internationally though.

[2020-01-07 18:58] mem48 commented on #12
I have some of this pre formatted in creds repos

[2020-01-07 19:08] Robinlovelace commented on #12
Please share... best I've got is in here: https://github.com/ITSLeeds/SSPA/blob/master/accessability.Rmd

[2020-01-07 19:18] Robinlovelace commented on #4
That stage could be streamlined and made reproducible with a command line tool, e.g. as follows with R (requires you to have run `remotes::install_github("itsleeds/geofabric")` first - can you try to reproduce this out of interest @mvl22 ?):

[code]

![](https://i.imgur.com/IegY8rh.png)

<sup>Created on 2020-01-07 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

What I like ab

[2020-01-08 03:16] mem48 commented on #12
https://github.com/creds2/Excess-Data-Exploration/blob/master/Rscripts/prep_data/prep_accessability.R

[2020-01-08 09:18] Robinlovelace commented on #12
Thanks @mem48, good starting point.

[2020-01-08 11:05] Robinlovelace opened #13 "Get planit data Leeds"
- [ ] Get Allerton data (specifically the 'Milenium Community') from Planit (useful exercise, hopefully there is data in Planit, please let us know @aspeakman and pass on the api request that gets it if possible): https://en.wikipedia.org/wiki/Allerton_Bywater

- [ ] Joey to share list of major planning sites in UK from TfNH - like the planning data this is already in the public domain but is hidd

[2020-01-08 11:17] Robinlovelace commented on #13
Please @aspeakman send us the top few (e.g. 10) big housing projects in Leeds based on a manual search, that would be good enough for a minimum viable project.

[2020-01-08 11:56] aspeakman commented on #13
Hi All

The Wiltshire scraper goes back to year 2000 but the Leeds and Cambridge scrapers only go back to December 2005, so I do not think the original application will be included. I will work on scraping the backlog to 2000 in these 2 cases.

To get you started with the API here is an example query in the approximate area of Allerton Byway.

https://www.planit.org.uk/api/applics/json?limit=30&bb

[2020-01-08 12:05] aspeakman commented on #13
The plans for current development are to add 3 searchable fixed choice fields to the API
app_type - type of application eg Outline
app_state - state of application eg Undecided, Rejected
app_size - size of the planned development - Small, Medium, Large

[2020-01-08 12:06] Robinlovelace commented on #13
No worries if the original application isn't in there. Any housing development data would be greatly appreciated, thanks for demo of spatial and temporal filtering, useful going forward.

[2020-01-08 12:07] Robinlovelace commented on #13
Joey says that some parts of bigger historic (pre 2005) developments may be represented in 'Reserved matters' applications. That may be useful intel for you search terms.

[2020-01-08 12:17] Robinlovelace commented on #13
Quick question @aspeakman, can the API return results in GeoJSON or is it just JSON (subtle distinction I know!)

[2020-01-08 13:14] aspeakman commented on #13
Both - but the JSON is pretty printed so easier to inspect on screen

[2020-01-08 13:18] mvl22 commented on #4
iD is definitely more suitable if we were to self-host a website where that would be part of the functionality. But otherwise it is not suitable, as users would find it difficult to install an ID instance, as it comes as raw code that has to be plugged into a website.

JOSM is already a standard download and can work on offline files to avoid committing changes to OSM live.

[2020-01-08 13:19] mvl22 commented on #4
How would users add things in a way that is definitely topographically connected? Is that realistic with a command-line tool (a fan of such approaches as I am)?

[2020-01-08 16:53] Robinlovelace commented on #13
Heads-up @joeytalbot I'm planning to update the R function so it can get geo data by default and accept a wider range of API arguments. Heads-up @aspeakman your API should be more accessible to R users imminently!

[2020-01-08 17:11] Robinlovelace opened #16 "Add additional arguments to get_planit_data()"
Format

- [x] `fmt`

URL schema

- [x] <code>{fmt}</code> the data format - either 'xml', 'geojson' or 'json'  (add a 'callback' key for JSONP), otherwise, if empty, an html page is returned
- [x] <code>{applic_name}</code> a unique name for the planning application in this system
- [x] <code>{planarea}</code> the unique name or numeric id of a planning area in this system
- [x] <code>{anyid}</cod

[2020-01-08 17:52] Robinlovelace commented on #16
Heads-up @joeytalbot I think #15 is good to go. Please try to reproduce this on your computer and let me know if you find any issues (next comment).

[2020-01-08 18:00] Robinlovelace commented on #16
Heads-up @joeytalbot and @mvl22 can you try to run the following lines on your computers?

If you can reproduce the results shown below, I think that's good enough to close this issue for now, fast progress 🎉  if so!

[code]

[code]

![](https://i.imgur.com/DJ22HqK.png)

<sup>Created on 2020-01-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-01-08 18:28] Robinlovelace commented on #16
Heads-up @mem48 this may also be of use/interest for your work. Thoughts? Please give it a spin, e.g. to see if there are any developments planned out in Huddersfield.

[2020-01-09 14:51] #16 closed

[2020-01-09 16:20] aspeakman commented on #13
Yes that's right

[2020-01-09 16:24] aspeakman commented on #13
The 'start_date' is a derived field = the earliest of the scraped date_received and date _validated fields.

Eventually my plan is to include a derived 'decided_date' field - which will be the the earliest of the scraped decision_date, decision_issued_date and decision_published_date fields

[2020-01-10 15:11] Robinlovelace opened #17 "get_planit_data() unhelpfully requires a bbox argument"
As discussed today. @joeytalbot can you provide a reproducible example demonstrating this unhelpful behaviour (thanks for spotting it)?

[2020-01-10 15:14] Robinlovelace opened #18 "Project outcome reports"
It's worth thinking about the output reports that we'll have at the end of the project. I think one describing the package, one providing an overview, and perhaps another with case studies should be sufficient (the 2nd and 3rd could be combined). Thoughts on this v. welcome.

[2020-01-10 15:15] Robinlovelace commented on #10
Closing for now, we can create a new issue on number of jobs if needs be.

[2020-01-10 15:15] #10 closed

[2020-01-10 15:15] #2 closed

[2020-01-10 15:16] Robinlovelace commented on #7
Superceded by #13 apolos for duplication.

[2020-01-10 15:16] #7 closed

[2020-01-10 16:03] #17 closed

[2020-01-11 15:00] mvl22 commented on #17
Note also that a `boundary` can be supplied, instead of a `bbox` or none:

https://www.planit.org.uk/api/

[2020-01-11 18:04] Robinlovelace opened #19 "Create function to automatically get journey travel time data"

[2020-01-15 12:29] Robinlovelace opened #22 "Example output from get_jts_data() is too verbose"
Like this:

[code]

Suggeston only the first 2?

See https://cyipt.github.io/acton/reference/get_jts_data.html

[2020-01-15 14:11] joeytalbot opened #23 "Develop a single weighted employment accessibility stat for each travel mode"
There are dozens of employment measures in the accessibility statistics. To make things clearer, we should be able to develop a simple weighted measure for each travel mode (walking/public transport, cycling and car).

On its own, I don't think `Jobs5000EmpPTt` is sufficient, but it will be better when combined with the stats on smaller employment centres (`Jobs500EmpPTt` and `Jobs100EmpPTt`).

[2020-01-15 15:06] Robinlovelace commented on #23
Great idea.

I think `Jobs5000EmpPTt` should be sufficient but yes, maybe a weighted mean with weights being proportional to the size. Example below:

[code]

<sup>Created on 2020-01-15 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-01-17 11:02] Robinlovelace commented on #23
Even though it's the 'minimum number of jobs' I think, still worthwhile I think.

[2020-01-21 10:14] Robinlovelace opened #24 "xaringan issue?"
Point me to any issues @joeytalbot !

[2020-01-21 11:42] Robinlovelace opened #25 "Automatically creating, tagging and re-saving OSM data objects (especially new cycleways)"
Discussed with @mem48 this morning. I think the best offline approach is JOSM, which has a good CLI that can do auto-tagging and re-saving as .osm files. See here: https://wiki.openstreetmap.org/wiki/JOSM/Plugins/CommandLine

Sound like a reasonable approach to you @mvl22 in the absence of an iD instance connected to a local DB (overkill at this stage)?

[2020-01-21 12:37] Robinlovelace opened #26 "Travis is failing"
Heads-up @joeytalbot this is because one of the vignettes relies on the tidyverse. Can you try testing it, switching from `library(tidyverse)` to `library(dplyr)` and try testing again to see if we can get it to pass the tests?

See here for further info: https://travis-ci.com/cyipt/acton/builds/145344218#L1239

[2020-01-21 14:11] mvl22 commented on #25
Yes, this is what I said earlier in another ticket:

https://github.com/cyipt/acton/issues/4#issuecomment-571691291

[2020-01-21 16:12] Robinlovelace commented on #25
Not quite, you didn't include a link to a way of automated tagging or saving back out to the .osm file format. But  https://wiki.openstreetmap.org/wiki/JOSM/Plugins/CommandLine strengthens your argument for using JOSM.

[2020-01-21 16:28] Robinlovelace commented on #26
Hmm, not sure what that's all about... Will take a look asap.

[2020-01-21 17:51] #26 closed

[2020-01-21 18:03] Robinlovelace commented on #26
Great fix @joeytalbot :tada:

[2020-01-23 12:31] joeytalbot opened #27 "Fixing invalid geometry"
When I make a tmap of the Leeds accessibility stats, the map shows up ok but this message also appears:

[code]
There is only one polygon that has invalid geometry is this is it:
http://rpubs.com/joeytalbot/invalid_geometry

Is this worth fixing, and if so what would be the best way to do it?

[2020-01-23 12:40] mem48 commented on #27
https://r-spatial.github.io/lwgeom/reference/valid.html This always works, but be careful in what has been changes ot make it valid.

[2020-01-23 12:40] Robinlovelace commented on #27
Well spotted, that's definitely invalid and worth fixing. Just to clarify, is that a zone in the PCT? Worth fixing 'upstream' if so but for now you could use something like QGIS to fix the geometry or try `st_make_valid()` function described here: https://www.r-spatial.org/r/2017/03/19/invalid.html

I don't think this issue affects the output or 'MVP' so would prioritise other things for now, will

[2020-01-23 12:41] #24 closed

[2020-01-23 12:44] Robinlovelace opened #28 "Explore and describe data for first case study"
This is a summary issue that contains elements of #13, #10 and #21 to track and discuss progress towards showing each dataset relevant to planning, to provide a foundation for recommendations:

- [ ] Planning applications data from planit (got, but not yet visualised)
- [ ] OSM data on walkability/cycling, including quietness levels, speed limits (not yet got)
- [x] Accessibility data from DfT (go

[2020-01-23 12:44] mem48 commented on #25
I haven't done a comparison of JOSM in the command line vs osmfilter https://wiki.openstreetmap.org/wiki/Osmfilter, but osmfilter does not require java to be installed (so less dependancies) and I have a basic R package supporting it at https://github.com/ITSLeeds/OSMtools

[2020-01-23 12:46] Robinlovelace commented on #25
Can `osmfilter` change tags @mem48 ? Very interested if so...

[2020-01-23 12:46] mem48 commented on #25
Yes

[2020-01-23 12:47] Robinlovelace commented on #25
:+1:

[2020-01-23 12:47] Robinlovelace commented on #25
Do you have a reprex?

[2020-01-23 12:48] mem48 commented on #25
This is all I written so far https://github.com/ITSLeeds/OSMtools/blob/master/vignettes/osmtools.Rmd

[2020-01-23 12:51] mvl22 commented on #27
Bear in mind that if you are using ST_Simplify (i.e. Douglas-Peucker algorithm), that can result in invalid geometries.

[2020-01-23 12:52] mem48 commented on #23
Could you make something like the h-index score for academics https://en.wikipedia.org/wiki/H-index.
Aso a score would incorporate both number of jobs and travel time?

[2020-01-23 12:55] Robinlovelace commented on #27
Yes, I recommend the mapshaper approach which uses a better and faster algorithm. Details: https://geocompr.robinlovelace.net/geometric-operations.html#simplification

[2020-01-23 14:23] Robinlovelace commented on #27
Interesting. Minor bug in data provided by government (the geometries were not made by us).

[2020-01-24 15:11] Robinlovelace commented on #28
Great stuff @joeytalbot these look great. Below is a static shot of the map, awesome work!

![image](https://user-images.githubusercontent.com/1825120/73079241-c13c9180-3ebb-11ea-897e-961dc4b159b8.png)

[2020-01-31 15:14] si-the-pie commented on #9
I thought I ought to provide this summary of how the CycleStreets routing system is built from OpenStreetMap (OSM) data, elevation data and the inferences we've made for cycling over the years.

The work I'll be focussing on for the project is concerned with improving the workings of the Sieve system which is split into two parts as shown in the summary.

I've tried to avoid being too technical, w

[2020-02-03 14:04] Robinlovelace opened #32 "Update readme"
Based on best practice guide for README files from here: https://devguide.ropensci.org/building.html#readme

[2020-02-03 14:05] Robinlovelace opened #33 "Split out project plan content from README into new vignette"
E.g. called The Acton project.

[2020-02-03 15:56] #32 closed

[2020-02-03 18:38] #33 closed

[2020-02-03 18:39] Robinlovelace commented on #33
Great fix, just needed to knit the old README.Rmd file so README.md would be updated. Surprising that the README on the website didn't auto-update. :crossed_fingers: it works this time.

[2020-02-03 18:40] Robinlovelace commented on #33
P.s. this was the command I used to update the README.md file:

[code]

[2020-02-03 18:54] Robinlovelace opened #35 "Acton or ACTON?"
Currently the README uses both:

**Acton** is a research project to provide evidence for local authorities, developers and civil society groups to support planning and investment in sustainable transport infrastructure in and around new developments.
To make the results of the research more reproducible and accessible to others, we have also created an R package, which is described below.

For inf

[2020-02-03 18:58] Robinlovelace opened #36 "Update DESCRIPTION file"
Heads-up @joeytalbot if you update this it will link to your profile on ORCID: https://github.com/cyipt/acton/blob/master/DESCRIPTION#L7

[2020-02-03 22:17] mvl22 commented on #35
ACTON, because it's not a place, Acton. It's a typical academic project name.

[2020-02-04 12:50] Robinlovelace commented on #36
Yes, good plan. Happy for you to lead on that Joey, especially if you're up for being the maintainer. Great guide to this: https://r-pkgs.org/description.html

[2020-02-04 17:33] joeytalbot opened #37 "Weighted jobs figure"
![weighted-jobs](https://user-images.githubusercontent.com/52210872/73770519-7997ee80-4774-11ea-9a3a-fb100bc405f7.png)

[2020-02-04 17:53] Robinlovelace commented on #37
Looking good Joey!

[2020-02-05 17:51] joeytalbot opened #38 "Index of accessibility"
![accessibility-index](https://user-images.githubusercontent.com/52210872/73870615-52105700-4844-11ea-850a-3065ab05da7a.png)

[2020-02-05 18:54] Robinlovelace commented on #38
Minor comment, I suggest a different colourschem. See `tmaptools::palette_explorer()`.

Colourschemes can greatly enhance the impact of data viz. Good additional resource on potential pitfalls and advice (I've not read all of this): https://serialmentor.com/dataviz/color-pitfalls.html

[2020-02-06 16:39] joeytalbot opened #39 "Busyness maps"

[2020-02-07 12:18] Robinlovelace commented on #39
Looking good, great work @joeytalbot! One thought, is it worth trying different colourschemes, e.g. in which less busy values are a blue/green or other 'cool' colour?

[2020-02-07 12:54] mem48 commented on #27
Invalid geometires are often visually fine see the example pictures https://shapely.readthedocs.io/en/latest/manual.html

[2020-02-07 14:16] mem48 commented on #27
Also do you know the x = st_buffer(x, 0) trick?

[2020-02-11 15:58] joeytalbot opened #40 "Remove private road"
A major route segment close to our Micklefield case study site is a road that I'm pretty certain is actually private and not usable by cyclists. We should remove this road - which will probably lead to the routes here being longer and following busier roads.

[2020-02-11 16:15] mvl22 commented on #40
If the OSM data is wrong, please go into OSM and correct it. You can then re-obtain the data.

Sounds like it should be `access=private` or `access=destination`.

[2020-02-14 14:47] Robinlovelace commented on #35
Sorted. Thanks Joey.

[2020-02-14 14:47] #35 closed

[2020-02-24 17:36] joeytalbot opened #41 "Acton hackathon"
We are planning a meeting and hackathon for the 13th March, to get together to discuss progress on the Acton project and to work on some coding problems. Here is a draft agenda for the day, starting 10.00 am.
[ACTON hackathon agenda.docx](https://github.com/cyipt/acton/files/4245915/ACTON.hackathon.agenda.docx)

[2020-02-27 18:07] joeytalbot opened #42 "Go Dutch case study maps"
![go-dutch-tysersal](https://user-images.githubusercontent.com/52210872/75472828-0b69d480-598c-11ea-8695-d5d6b2932e16.png)

[2020-02-28 09:18] Robinlovelace commented on #42
Looking good @joeytalbot. Where is the code that generates these maps? May be worth running some of the commands in the vignette for reproducibility while reducing the 'barrier to entry'. One way could be to save the intermediate route data generated by `cyclestreets` and read that in from a GitHub release.

[2020-02-28 09:23] Robinlovelace commented on #39
There are other sequential options, the Purples one look good to me: http://colorbrewer2.org/#type=sequential&scheme=Purples&n=3

The Reds default is good for some things but I think we should avoid using it for all maps - probably more appropriate for business than for the choropleth maps here: https://cyipt.github.io/acton/articles/case-studies.html

[2020-02-28 09:24] Robinlovelace commented on #39
The viridis colour schemes are also nice. Lots of palettes to choose from!

[2020-02-29 18:24] mvl22 commented on #39
Can you clarify? Our routing shouldn't be using a private road, unless it is at the start or end of the journey (so that the rider can get to their destination or start!).

[2020-03-02 07:44] Robinlovelace commented on #39
Pls share maps with latest data and colourschemes @joeytalbot to clarify : )

[2020-03-02 10:07] Robinlovelace commented on #39
Many thanks Joey.

[2020-03-02 11:25] Robinlovelace commented on #42
Looking good, thanks for sharing, see you soon!

[2020-03-02 11:33] Robinlovelace opened #43 "Travis build failing"
See here for details: https://travis-ci.com/cyipt/acton/builds

[2020-03-02 11:36] Robinlovelace commented on #43
Seems the issue is with the access key (not your fault @joeytalbot ... ): https://travis-ci.com/cyipt/acton/builds/150873450#L1991

[2020-03-02 15:20] Robinlovelace commented on #43
Fixed with `travis` package function call.

[2020-03-02 15:20] #43 closed

[2020-03-02 16:06] Robinlovelace commented on #41
Screenshot for Eventbright:

![image](https://user-images.githubusercontent.com/1825120/75694077-db7a4400-5c9f-11ea-8817-2a024e32c52b.png)

[2020-03-02 16:20] mvl22 commented on #41
Great picture pair!

[2020-03-02 16:30] Robinlovelace commented on #41
Thanks @mvl22! Great thing: they are both real projects represented in the dataset for Leeds (guess which is which ; )

[2020-03-03 17:54] joeytalbot opened #45 "Develop an index to estimate 'cycling level of service'"
We need a standardised measure for characterising the quality of case study (and other) sites for cycling.

There are various things that could go into this. We can start simple and add more factors as we see fit:
- journey time statistics such as our employment index and our overall index of accessibility (both derived from the journey time statistics)
-  distance to key destinations e.g. nearest

[2020-03-04 15:17] Robinlovelace opened #46 "Typo in README"
Currently it says "ACTON a research project to provide evidence for local authorities, developers and civil society groups to support planning and investment in sustainable transport infrastructure in and around new developments."

missing an "is"!

Posting here as good first issue - see https://github.com/cyipt/acton/blob/master/README.Rmd and click 'Edit' to fix this one.

[2020-03-05 11:30] Robinlovelace opened #47 "Describe how quietness is measured in CycleStreets?"
Heads-up @si-the-pie this is the relevant section of the report:

https://github.com/cyipt/acton/blob/master/vignettes/acton.Rmd#L108

Can you write some in there?

[2020-03-05 11:32] Robinlovelace commented on #47
The fastest route only considers time, the quietest service.

[2020-03-05 12:05] Robinlovelace opened #48 "More descriptions of data"
Including size of application description.

[2020-03-05 12:07] Robinlovelace commented on #48
And Joey to provide feedback on resulting data.

[2020-03-05 12:14] Robinlovelace opened #49 "Mention and link to StreetFocus"
As discussed with @mvl22

[2020-03-05 12:19] Robinlovelace opened #50 "Add User Interface sketching to Hackathon"

[2020-03-05 12:22] #50 closed

[2020-03-05 12:23] Robinlovelace opened #51 "Make the dev api default"
Heads-up @aspeakman

[2020-03-05 12:25] #51 closed

[2020-03-05 12:32] Robinlovelace opened #52 "Add support for dev version of api"
Enabling us to get queries such as: https://dev.planit.org.uk/api/applics/geojson?limit=250&pg_sz=250&bbox=-1.599425%2C53.768004%2C-1.477340%2C53.838354&app_state=Undecided&app_type=Full%2COutline&app_size=Large

Heads-up @mvl22 (we got this via streetfocus) and @aspeakman - any other search terms we can add to make this zoom-in on the Climate Innovation District and Allerton Bywater applications?

[2020-03-05 14:00] aspeakman commented on #52
Do you mean in terms of setting the bbox more precisely?  If so you can use the Planit Perimeter page

See
https://dev.planit.org.uk/perimeter/-1.373595,53.738874,-1.342714,53.750244/
and
https://dev.planit.org.uk/perimeter/-1.530522,53.786632,-1.519457,53.791044/

Press the Change button, adjust the boundary, then press the 'Show data' button and copy the bbox parameter from the resulting data pa

[2020-03-05 14:29] aspeakman commented on #48
Bit of pseudo code below to explain how app_size is set at the moment - the appl_sub_type is derived from pattern matching in the application_type field

if appl_sub_type in [ 'Advertising', 'Signs', 'Telecoms', 'Hedges', 'Trees' ]: return 'Small'
if appl_sub_type in [ 'Impact', 'Major' ]: return 'Large' // EIA, scoping opinion, major, large
if n_statutory_days {
        if n_statutory_days <= 60:

[2020-03-05 14:40] Robinlovelace commented on #52
No I meant which other API arguments. I guess size=large will be one of the queries that reduces the
size of the result while keeping the applications we're interested in.

In hindsight 'zooming in' wasn't the most appropriate way of framing it.

[2020-03-05 15:18] Robinlovelace commented on #48
Thanks @aspeakman that's useful and good to know, n_documents will tend to be lower in the past according to @joeytalbot who may have more comments on this. I like the coercion of 'hedges' to small, clearly scope to refine this, but a good starter for 10 (or should I say 3 ; ).

[2020-03-05 15:19] Robinlovelace commented on #48
Also @aspeakman could you put a sentence or 2 based on that in the report here?: https://github.com/cyipt/acton/blob/master/vignettes/acton.Rmd#L60

[2020-03-05 15:21] Robinlovelace commented on #48
Another question, any plans for a free text / regex search term argument to match with the `description` field?

[2020-03-05 15:25] aspeakman commented on #52
Here is my current list of what is available:

app_size -> Size of the proposed development

- Large - Major, large scale developments
- Medium - Other applications involving multiple dwellings
- Small - All others

app_state -> Decision status for the application

- Undecided - The application is currently active, no decision has been made
- Permitted - The application was approved
- Conditions -

[2020-03-05 15:27] Robinlovelace commented on #48
@aspeakman to provide a concrete example, would there be an endpoint associated with this query (also in pseudocode):

[code]

[2020-03-05 15:35] aspeakman commented on #48
It is on my "to investigate" list, bit not currently possible

[2020-03-05 15:35] Robinlovelace commented on #48
Thanks for quickfire response.

[2020-03-05 15:44] Robinlovelace commented on #48
Heads-up @aspeakman I think there are still some issues around the 'large' classification. We are trying to make a query that gives us the case study developments including Allerton Bywater and the Climate Innovation District. Unfortunately, this endpoint, which I would expect to get all of them, fails:

https://dev.planit.org.uk/api/applics/geojson?limit=100&bbox=&end_date=2020-03-05&start_date=2

[2020-03-05 15:46] Robinlovelace commented on #52
Thanks @aspeakman see #48 for issues with `app_size` seemingly.

[2020-03-05 15:48] Robinlovelace commented on #52
Closing as these query args are now in the R function `get_planit_data()`:

app_size -> Size of the proposed development

app_state -> Decision status for the application

app_type -> Type of the application

[2020-03-05 15:48] #52 closed

[2020-03-05 15:52] aspeakman commented on #48
The key words are case sensitiveand ignored if unmatched  (to be fixed!). To get information on the success of the query it is best to start with a JSON query as follows (and in the near future I will include details on whether it has matched the keywords)

Try this (then convert to geojson if that is what you want)

https://dev.planit.org.uk/api/applics/json?limit=100&bbox=&end_date=2020-03-05&st

[2020-03-05 15:53] Robinlovelace commented on #48
Aha OK, it needs to be `Large` not `large`?

Makes sense, although somewhat unconventional to have capitalisation in api queries IMO (will defer to @mvl22 on this).

[2020-03-05 15:56] Robinlovelace commented on #48
Update @aspeakman the two queries seem to return the same result. Reproducible example from the R console:

[2020-03-05 15:57] Robinlovelace commented on #48
[code]

<sup>Created on 2020-03-05 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Item 22 in your updated endpoint still is not a large application, it's for a single house.

[2020-03-05 16:29] si-the-pie commented on #9
# Table of Contents

1.  [CycleStreets Quietness Review](#orgd3b3c43)
    1.  [Quietness metric](#org39c1663)
    2.  [Setting the Quietness value](#org972297f)
    3.  [What is quietness really?](#org86e19cc)
    4.  [Cycling States](#orga825e7b)
    5.  [Recalibration](#org2db85b5)

<a id="orgd3b3c43"></a>

# CycleStreets Quietness Review

The brief for the CycleStreets routing improvements was

[2020-03-05 16:33] si-the-pie commented on #47
I've added a summary of what I said in the call earlier today to #9 and I'll next add a much shorter version to the vignettes list.

[2020-03-05 16:37] aspeakman commented on #48
Yes I replied too soon. The API keywords are case insensitive (as you would expect) and it throws a 404 when they are not acceptable - but I will include some feedback in the 'detail' field to confirm what is being selected in the query

Yes I have thought about doing key word matching in the description field but my impression is the terms used are not really consistent enough. Numbers often appe

[2020-03-05 16:42] Robinlovelace commented on #48
Thanks @aspeakman but do you know a query that will get all of the applications of interest, namely:

  "13/05235/FU@Leeds"

  "15/04151/FU@Leeds"

  "15/00415/FU@Leeds"

  "15/01973/FU@Leeds"

These are all large applications but not all of them seem to appear in this endpoint:

https://dev.planit.org.uk/api/applics/json?limit=100&bbox=&end_date=2020-03-05&start_date=2000-02-01&pg_sz=100&auth=Lee

[2020-03-05 16:52] Robinlovelace commented on #48
Good news @aspeakman we got the result 🎉

[2020-03-05 16:52] Robinlovelace commented on #48
With this query in R:

[code]

Generating the output shown below and this endpoint https://dev.planit.org.uk/api/applics/geojson?limit=500&bbox=&end_date=2020-03-05&start_date=2000-02-01&pg_sz=500&auth=Leeds&app_size=large&app_state=permitted

[2020-03-05 16:53] aspeakman commented on #48
All 4 examples are Large and Permitted so they should be there. But your limit value needs adjusting - 'limit' is the max returned in the underlying query and there are 835 potential results (see the 'total' result field). So set the limit to 1000 and then page through to get the successive results.

[2020-03-05 16:53] Robinlovelace commented on #48
[code]

<sup>Created on 2020-03-05 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-03-05 16:54] Robinlovelace commented on #48
Thanks @aspeakman but when the limit is 1000 and the page size is 1000 it breaks. Not easy to pull down multiple pages from R.

[2020-03-05 16:54] Robinlovelace commented on #48
Example of a failing request: https://dev.planit.org.uk/api/applics/geojson?limit=501&bbox=&end_date=2020-03-05&start_date=2000-02-01&pg_sz=501&auth=Leeds&app_size=large&app_state=permitted

[2020-03-05 16:57] Robinlovelace commented on #48
We could solve the problem R side but this suggests the resulting code will not be particularly pretty: https://httr.r-lib.org/articles/api-packages.html#pagination-handling-multi-page-responses

[2020-03-05 16:58] Robinlovelace commented on #48
If you could bump up the maximum page size, e.g. to 1000 or 10,000 that could help our work.

[2020-03-05 17:02] aspeakman commented on #48
There is an absolute maximum page size of 500. (all defined in the API documents - see https://dev.planit.org.uk/api/). This and the 'limit' are designed to protect against memory demands when requests are too big - as I have had some pretty crazy external request for large batches - and I think 10000 in one request would fall into that category

If you cant do paging in R then you would need to s

[2020-03-05 17:04] Robinlovelace commented on #48
Good response, makes sense, will see which solution works best.

[2020-03-05 18:07] si-the-pie commented on #47
I've added to the vignettes at: https://github.com/cyipt/acton/blob/master/vignettes/acton.Rmd#L122

I had to change it quite a lot from my more technical summary - hope that it fits in OK.

[2020-03-05 23:22] mvl22 commented on #51
I don't think this is right - the dev is only temporarily the server with the data, but the published package ought to assume the long-term default of using www . So for now I would revert this, but make calling code use dev.

[2020-03-06 09:13] Robinlovelace commented on #51
It's a one liner to revert. Will the functionality in the dev version eventually go into the www version? If so we should switch back to the stable version when the functionality has been added, so if there's an ETA on that let us know.

[2020-03-06 09:19] Robinlovelace commented on #47
This is really great work @si-the-pie, many thanks. Please close this issue when you're happy with the marked-up online version here: https://cyipt.github.io/acton/articles/acton.html#route-data

Could you add some quantitative examples to that text, e.g. "a quietness score of 50% will correspond to a weighting for the segment of 2 times its length".

Also is it worth linking to a future-proof and

[2020-03-06 15:39] si-the-pie commented on #9
@joeytalbot at last I'm answering your question:

Well yes, at the time I wrote that review. What has actually happened though is we've had a thorough re-examination of what is meant by quietness. That has steered us towards the need to understand better how the scores affect the recommended routes.

The initial quietness values are actually in a database table, which can be viewed (if you are sig

[2020-03-06 16:54] Robinlovelace commented on #9
That sounds like a more narrow and realistic aim, and a sensible priority on the routing side. It will be good if we can demonstrate the difference that it makes on a dev version of the API.

[2020-03-06 18:10] si-the-pie commented on #9
Yes, basically, but the cycling energy model provides something of a basis for explaining why different ways have different quietness values, and the cycling states will provide a basis for ranking them. Although we won't fully implement either the states or the energy within the scope of the project the work we will do will take us nearer to that goal.

[2020-03-06 22:20] mvl22 commented on #51
Will do. Yes, Andrew is planning to put the dev changes into www - the data is currently being generated as mentioned on the call.

[2020-03-08 18:22] mvl22 commented on #52
Great, looks good. Nice.

https://github.com/cyipt/acton/blob/master/R/planit.R#L91-L93

[2020-03-08 18:36] mvl22 commented on #48
I would agree with Andrew that pagination is a sensible and reasonable requirement for the R interface to implement. Ultra-large responses in APIs of any kind like 10,000 results are inherently more likely to fail (busy servers, memory overload, HTTP transfer failures, etc.).

[2020-03-08 18:38] Robinlovelace commented on #48
Thanks for the input, will see which solution works best.

[2020-03-08 18:41] mvl22 commented on #48
If you know an ID, you can use this API call format:

https://dev.planit.org.uk/planapplic/Leeds/13/05235/FU/geojson

Note that the area ("Leeds") and the ID ("13/05235/FU") in that URL format.

[2020-03-08 18:42] mvl22 commented on #50
I think this will be a good activity for attendees on the more non-technical end to do in the afternoon - good idea.

[2020-03-08 19:24] Robinlovelace opened #53 "Add example showing how to specificy local authority"
E.g.

[code]

![](https://i.imgur.com/cgqeJF2.png)

<sup>Created on 2020-03-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-03-08 19:25] Robinlovelace commented on #48
Already implemented. Give this reproducible example a try if you have R installed:

[code]

![](https://i.imgur.com/cgqeJF2.png)

<sup>Created on 2020-03-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

I've opened a new issue because I realise this is not yet in the docs: https://github.com/cyipt/acton/issues/53

https://github.com/cyipt/acton/issues/53

[2020-03-08 19:27] Robinlovelace commented on #48
Are there any other parts of the API that are not well documented here @mvl22 and @aspeakman ?: https://cyipt.github.io/acton/reference/get_planit_data.html

Here's a good place to say. Suggest we close this issue after the API arguments are well described in the docs and in the case study vignette: https://cyipt.github.io/acton/articles/case-studies.html

[2020-03-08 19:32] mvl22 commented on #48
It's worth being aware that there are indeed two API calls, and that you are only using the area-based one, which essentially is an index of applications in an area, with the main details for each. The documentation for that looks pretty good to me.

However, the data returned will not give you the complete details, e.g. list of documents, for each such application, as that is more extensive. So t

[2020-03-08 21:26] aspeakman commented on #48
Yes just to expand on this point, the '/api/applics' endpoint will get you lists of applications that match different filtering critieria. However, by design, the lists only return the key summary information for each application. To get the full information you have to follow the 'link' field which leads you to the '/applic/' endpoint for that particular application.

[2020-03-10 19:33] joeytalbot opened #54 "Map of Leeds sites"
<img width="437" alt="leeds_sites" src="https://user-images.githubusercontent.com/52210872/76351831-f7b45b80-6305-11ea-9c78-aa771171bd3e.png">

[2020-03-11 13:06] Robinlovelace commented on #54
These are looking great @joeytalbot, looking forward to seeing them in context!

[2020-03-11 15:02] Robinlovelace commented on #54
Fantastic work, I really like the new colourschemes!

[2020-03-11 15:43] Robinlovelace commented on #39
`overline(routes)` should do it... one for the hackathon perhaps?!

[2020-03-11 21:20] mvl22 commented on #54
Just to say that these photos would be great to be added to the CycleStreets Photomap:

https://leeds.cyclestreets.net/photomap/

They can then of course be accessed via an API call, which naturally returns GeoJSON, making it easy to add to a Leaflet-based map. The API call includes a filter by tag capability, so adding these via a specific tag would enable you to obtain only them.

[2020-03-15 20:48] Robinlovelace opened #56 "Get data on active travel levels associated with new developments"
Potential sources of such data:

- Census data (assuming we can get a list of new developments that were completed before 2010)
- Healthy New Towns initiative: https://www.england.nhs.uk/ourwork/innovation/healthy-new-towns/
- NTS (assuming we can get data on which households were in new developments)

[2020-03-15 20:51] Robinlovelace commented on #56
This could contribute to an indicator in terms of % trips by active modes.

[2020-03-16 14:08] mvl22 commented on #56
I think we should be wary of lumping together walking and cycling percentages as "active modes", because this will mean that in-town developments like those near stations and other transport hubs will end up with a very positive indicator, simply because they will naturally have high levels of walking, even though the cycling provision may be non-existent or of very low quality.

Cycling is almost

[2020-03-16 14:25] Robinlovelace commented on #56
Good point @mvl22, any further comments on this welcome. One way to create an evidence-based weighting would be to weight not arbitrarily differently between walking and cycling but to use [METs ](https://en.wikipedia.org/wiki/Metabolic_equivalent_of_task) (metabolic equivalent of task) for different modes (and potentially different simulated trips on the network to trip attractors, which would al

[2020-03-16 14:31] Robinlovelace opened #57 "Get list of new developments/estates built between 2000 and 2010"
Related to this: #56

[2020-03-16 14:32] Robinlovelace opened #58 "Final report"

[2020-03-16 14:52] Robinlovelace commented on #56
Data on METs from different modes:

- Walking MET = 3.20
- Running MET = 8.80
- Biking MET = 5.90

Source (one of many): https://github.com/EsriCanada-CE/ecce-app-challenge-2017/tree/master/Team_Earth_Link

[2020-03-18 19:37] Robinlovelace opened #59 "Uptake model"
With something like:

[code]

[2020-03-23 13:20] Robinlovelace commented on #56
Fantastic work @joeytalbot

[2020-03-23 19:22] Robinlovelace commented on #57
Great progress, simpler than initially thought it seems, and sounds like we have enough to get going on creating a model and writing-up as a plan of action (or should I say a plan of acton heheh ; )

[2020-03-24 06:25] aspeakman commented on #57
Sorry but many of these applications were misclassified during my first pass at this when I thought that keywords 'prior approval' or 'prior notification' in the application_type field signified a large application. Now the decision is mainly based on the n_statutory_days and n_documents fields (where available).

 For around 60% of authorities having a particular type (Idox) these fields are bein

[2020-03-24 06:57] Robinlovelace commented on #57
Thanks for the updated @aspeakman.

Is there any way you can fast track this? The project ends soon and getting a good handle on pre 2011 developments will be most useful in the next 24 hours if at all possible.

[2020-03-24 09:20] aspeakman commented on #57
For various reasons there are quite major lags built in to the system. There are around 265 Idox scrapers and they are mostly quite slow. In 2016 I was scraping a few of the early examples back to year 2000 (hence the old data in that range), but as the number expanded I had to restrict the current data scraping to 2006 onwards. I recently moved the target scraping date back by a year to 2005 and

[2020-03-24 09:29] Robinlovelace commented on #57
Thanks the quick reply @aspeakman, will defer to @joeytalbot on best option.

[2020-03-25 12:47] Robinlovelace commented on #59
That sounds like a good plan, although there is OA-WPZ data available: https://www.nomisweb.co.uk/census/2011/wf02ew

[2020-03-25 14:20] Robinlovelace commented on #59
Good point, and with the LSOA - LSOA level analysis we can use the PCT routes as a quick proxy. I suggest:

[code]

To add LSOA variables to OA data.

[2020-03-28 07:30] mem48 commented on #59
There are oa to lsoa lookup tables on open geography portal

[2020-03-30 13:50] Robinlovelace commented on #58
Good to see this coming together. Will message you to discuss @joeytalbot, many thanks!

[2020-03-30 14:51] mvl22 commented on #57
Note that the PlanIt API now has a new 'Conditions' application type, which has been split out from Amendment.

You can see this in action at:
https://www.streetfocus.uk/map/

[2020-03-30 22:28] Robinlovelace commented on #58
![image](https://user-images.githubusercontent.com/1825120/77967965-2064bb00-72de-11ea-9e23-f703ccde4a39.png)

[2020-03-31 13:46] Robinlovelace commented on #57
Another potential source of data for future developments:

![image](https://user-images.githubusercontent.com/1825120/78033499-63ff0980-735e-11ea-94f4-f8502bd09a23.png)

[2020-03-31 14:03] mvl22 commented on #58
Robin/Joey,

What do you need for us for the final report?

PS Simon has been continuing work on the quiet routing stuff and will of course be carrying on that work after the funded project period, as part of our ongoing work to improve routing.

[2020-03-31 14:16] Robinlovelace commented on #58
Hi @mvl22 please take a read and make suggested changes to this file (by PR if possible, can send docx/pdf version if you'd like): https://github.com/cyipt/acton/blob/master/code/report.Rmd

More broadly could you take a look at the issues? Would be great to get closure on some of them.

[2020-03-31 15:23] mvl22 commented on #58
If you can send a docx/pdf that would be good, just so I can read it overall more easily. But yes, will make changes in the Rmd file certainly.

[2020-03-31 15:28] Robinlovelace commented on #58
[report.pdf](https://github.com/cyipt/acton/files/4410037/report.pdf)

Latest version of the report attached.

[2020-03-31 20:51] mvl22 commented on #58
Thanks; great report.

Changes committed in
https://github.com/cyipt/acton/commit/2b91dabe5bcf82c25f82e22542c46c2ea7eb5cb2

NB Andrew may not want the dev version of PlanIt as a publicised address so have reworked that sentence.

[2020-03-31 20:56] Robinlovelace commented on #58
Thanks @mvl22, looking good. FYI I plan to move this report here, which currently is rather unfinished: https://cyipt.github.io/acton/articles/the-acton-project.html

[2020-04-01 09:57] Robinlovelace commented on #58
Heads-up I'm working on this this morning.

[2020-04-01 12:58] si-the-pie commented on #58
I'm going to add a bit about CycleStreets quietness routing changes to the report this afternoon.

It seems to have moved from `code/report.Rmd` to some new location - but where?

[2020-04-01 13:52] #19 closed

[2020-04-01 13:52] #22 closed

[2020-04-01 13:52] #23 closed

[2020-04-01 13:52] #28 closed

[2020-04-01 13:52] #37 closed

[2020-04-01 13:52] #38 closed

[2020-04-01 13:52] #39 closed

[2020-04-01 13:52] #40 closed

[2020-04-01 13:52] #41 closed

[2020-04-01 13:52] #42 closed

[2020-04-01 14:20] Robinlovelace commented on #18
Mostly done now. Draft 500 word report here: https://github.com/cyipt/acton/blob/master/vignettes/acton.Rmd#L18-L37

[2020-04-01 14:20] #18 closed

[2020-04-01 14:25] si-the-pie commented on #58
I've read the report and I'm just trying to work out what extra I should add to it.
The stuff about the cycle routing seems OK to me, but I wonder if you want a graphic showing how adding the search graph to route planning helped us recalibrate the routing, such as:

For this route between the green and red wisp markers in Bramley there are two cycle routes available.
One is the Leeds-Bradford cyc

[2020-04-01 14:39] Robinlovelace commented on #58
Thanks @si-the-pie I've just added the figure to the report (see recent commit). Further changes welcome to this file: https://github.com/cyipt/acton/blob/master/vignettes/the-acton-project.Rmd

[2020-04-01 17:39] Robinlovelace commented on #59
Another dataset we can use: https://data.london.gov.uk/dataset/property-build-period-lsoa

[2020-04-02 11:07] #46 closed

[2020-04-02 13:39] Robinlovelace commented on #59
Great data exploring @joeytalbot I plan to start a script that will read them in, who knows could eventually be an ACTON function!

[2020-04-02 14:02] Robinlovelace commented on #59
Heads-up @joeytalbot I've added a script that gets the data and deals with the pesky commas. Please take a look and work from that. Downing tools on this project for the day :hammer: .

[2020-04-03 10:20] Robinlovelace commented on #59
MSOA data:

[code]

<sup>Created on 2020-04-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-03 10:27] Robinlovelace commented on #59
LSOA data:

[code]

[2020-04-03 10:28] Robinlovelace commented on #59
Output:

[code]

![](https://i.imgur.com/0CQz0O0.png)

<sup>Created on 2020-04-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-03 10:29] Robinlovelace commented on #59
FYI that process uses around 4GB ram:

![image](https://user-images.githubusercontent.com/1825120/78351261-6b145a80-759e-11ea-960e-6c4b1567d162.png)

[2020-04-07 10:46] Robinlovelace commented on #58
![image](https://user-images.githubusercontent.com/1825120/78660650-5e0ca980-78c5-11ea-81c7-dc446965ce51.png)

[2020-04-07 11:46] Robinlovelace commented on #58
![image](https://user-images.githubusercontent.com/1825120/78665524-db3c1c80-78cd-11ea-95c8-1568ae5d8bb5.png)

[2020-04-07 12:41] #58 closed

[2020-04-10 08:38] Robinlovelace commented on #59
Interesting finding. Have you tried plotting the geocode1 locations associated with the missing codes?

[2020-04-10 09:50] Robinlovelace commented on #58
Next steps on this as discussed with @joeytalbot: send report to MHCLG before wider publication.

[2020-04-10 11:42] Robinlovelace commented on #59
Definitely not a random distribution!

[2020-04-10 11:45] Robinlovelace commented on #59
Maybe worth looking at the associated chunks here: https://github.com/cyipt/acton/releases/download/0.0.1/od_lsoa_routes_20020-04-07-chunks-of-1000-rows.zip

[2020-04-13 08:21] mem48 opened #63 "EPC Data"
@Robinlovelace @joeytalbot @mvl22 this might be of use.

I came across this for another reason, but the Energy Perfromance Certificates database has been published at https://epc.opendatacommunities.org/ new homes require an EPC and their is a field called `TRANSACTION_TYPE` which includes `new dwelling` and the full address and postcode is included in the dataset as well as the date the EPC was i

[2020-04-13 08:42] Robinlovelace commented on #63
Certainly looks like an interesting data source, thanks for the heads-up Malcolm.

[2020-04-15 10:57] Robinlovelace opened #64 "Build is failing"
Think I know why and think it will be fixed soon: https://github.com/r-spatial/lwgeom/commit/467dc314a0bda011e806a8b56c8dcc153f63527c

[2020-04-16 11:08] Robinlovelace commented on #59
Heads-up @joeytalbot I've been thinking about gradients and I'm not sure our calculations were correct. It's worth doing some sense checking on them I think. To help understand the issue, and to encode the hopefully-correct way of calculating gradients, with different levels of smoothing to account for the impact of anomalous short segments, I've written some functions into `stplanr` to support th

[2020-04-21 11:41] Robinlovelace commented on #59
Heads-up @joeytalbot this is the reprex I was trying to do before:

[code]

<sup>Created on 2020-04-21 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-05-13 18:50] #3 closed

[2020-05-13 18:50] #4 closed

[2020-05-13 18:50] #5 closed

[2020-05-13 18:50] #6 closed

[2020-05-13 18:50] #8 closed

[2020-05-13 18:50] #9 closed

[2020-05-13 18:50] #11 closed

[2020-05-13 18:50] #12 closed

[2020-05-13 18:50] #13 closed

[2020-05-13 18:50] #25 closed

[2020-05-13 18:50] #27 closed

[2020-05-13 18:50] #36 closed

[2020-05-13 18:50] #45 closed

[2020-05-13 18:50] #47 closed

[2020-05-13 18:50] #48 closed

[2020-05-13 18:50] #49 closed

[2020-05-13 18:50] #54 closed

[2020-05-13 18:51] Robinlovelace commented on #63
This also could be of use: https://twitter.com/owenboswarva/status/1247951687068848129

[2020-06-29 11:18] Robinlovelace opened #66 "Submit paper on methods to assess active transport opportunities around new developments and inform policy"

[2020-12-04 16:22] Robinlovelace opened #67 "Submit to CRAN"
- [ ] devtools::check_win_devel()

See https://r-pkgs.org/release.html

[2020-12-15 10:36] Robinlovelace opened #68 "Remove get_jts_data function"
And link to new JTS package assuming we go with that.

[2021-01-04 16:28] Robinlovelace opened #69 "dev website is down causing vignette to fail"
I see this when running `devtools::check()`:

[code]

It seems that this is now down:

https://dev.planit.org.uk/api/applics/geojson?limit=500&bbox=&end_date=2021-01-04&start_date=2000-02-01&pg_sz=500&auth=Leeds&app_size=large&app_state=permitted

But this works:

https://planit.org.uk/api/applics/geojson?limit=500&bbox=&end_date=2021-01-04&start_date=2000-02-01&pg_sz=500&auth=Leeds&app_size=large

[2021-01-04 16:34] #69 closed

[2021-01-04 18:26] aspeakman commented on #69
The dev site can't be relied on as I change it all the time, so yes please switch to www.planit.org.uk

[2021-01-04 18:32] Robinlovelace commented on #69
Cheers Andrew, job done and updated in the docs: https://cyipt.github.io/acton/reference/get_planit_data.html

On that note if you see any part of the API not exposed in that function, please let us know and feel free to open up a new issue.

FYI we're planning to document work on actdev on this site for now.

Cheers!

[2021-01-04 18:44] aspeakman commented on #69
In the function definition you have mentioned 'krad' for the radius of a circle search with 'pcode' as the centre  but you can also define the centre directly using  'lat and 'lng'

There is also a 'bounds' parameter where you can supply a boundary polygon but not sure if that is of use

[2021-01-04 18:49] Robinlovelace opened #70 "Add new arguments to get_planit()"
As documented here https://github.com/cyipt/acton/issues/69#issuecomment-754146428

[2021-01-04 18:51] #64 closed

[2021-01-04 19:35] aspeakman commented on #69
Sorry the parameter is called 'boundary'not 'bounds'

Also there may be a gotcha with the 'limit' parameter - 500 is the default limit but the default page size 'pg_sz' is 50, so you could set a limit of 100 but only get a max of 50 results.

If you dont want users to deal with paged results and are happy to accept an absolute max of 500 results (the maximum page size). Then its best to set a fixe